<div id="up" (mouseover)="getSection('')"></div>

<div id="asymmetric-tsp"  class="section-box" (mouseover)="getSection('asymmetric-tsp')">

    <div class="title">
        <h2>{{ 'variations.asymmetric.title' | translate }}</h2>
    </div>

    <div>
        <p>{{ 'variations.asymmetric.header' | translate }}
            <label class="italic-text">{{ 'variations.asymmetric.explication' | translate }}</label>
        </p>
    </div>
    
    <div>
        <p class="italic-text">{{ 'variations.asymmetric.comutation-atsp-stsp.text' | translate }}</p>
    </div>
    
    <h4>{{ 'variations.asymmetric.subtitle-transformation' | translate }}</h4>
    <p>{{ 'variations.asymmetric.transformation.text' | translate }}</p>


    <div style="display: flex"> 
        <img src="./assets/images/steps.png" class="icon-theorem">
        <p class="steps">{{ 'variations.asymmetric.transformation.step-0' | translate }}</p>
    </div>
    <ul> 
        <li>
            {{ 'variations.asymmetric.transformation.step-1' | translate }}
        </li>
        <li>
            {{ 'variations.asymmetric.transformation.step-2' | translate }}
        </li>
        <li>
            {{ 'variations.asymmetric.transformation.step-3' | translate }}

            <div style="width: 100%; display: grid; justify-content: center;">
                <table class="table-transformation-stsp">
                    <tr> 
                        <th> </th>
                        <th> 0 </th>
                        <th> 1 </th>
                    </tr>
                    <tr>
                        <th> 0 </th>
                        <td> U </td>
                        <td> D&#180;<sup>T</sup> </td>
                    </tr>
                    <tr>
                        <th> 1 </th>
                        <td> D&#180; </td>
                        <td> U </td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            {{ 'variations.asymmetric.transformation.step-4' | translate }}

            <div class="formula-container">
                <p class="formula">{{ 'variations.asymmetric.solution-formula' | translate }}</p>
            </div>
        </li>

    </ul>

    
    <h4>{{ 'variations.asymmetric.subtitle-exemplu' | translate }}</h4>
    
    <div class="graph-table-side-by-side">
        <div>
            <app-image-slider [images]="aTSP"></app-image-slider>
        </div>

        <div style="width: 100%; display: grid; justify-content: center; margin:auto;">
            <table class="table-matrix-stsp">
                <tr> 
                    <th *ngFor="let header of [' ', 0, 1, 2, 3]">{{ header }}</th>
                </tr>
                <tr *ngFor="let row of matrix_aTSP; let columnIndex = index">
                    <th>{{columnIndex}}</th>
                    <td *ngFor="let i of [0,1,2,3]">{{row[i]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="multiple-visits-tsp" class="section-box" (mouseover)="getSection('multiple-visits-tsp')">
    <div class="title">
        <h2>{{ 'variations.multipleVisits.title' | translate }}</h2>
    </div>

    <div class="text-image-side">
        <div class="text-half-size">
            <p>{{ 'variations.multipleVisits.header' | translate }}</p>
        </div>

        <div>
            <app-image-slider [images]="multipleVisits"></app-image-slider>
        </div>
    </div>
</div>


<div id="max-tsp" class="section-box" (mouseover)="getSection('max-tsp')">
    <div class="title">
        <h2>{{ 'variations.max.title' | translate }}</h2>
    </div>

    <div class="image-text-side">
        <div style="margin:auto">
            <app-image-slider [images]="max"></app-image-slider>
        </div>

        <div class="text-half-size">
            <p>{{ 'variations.max.header' | translate }}</p>
            
            <div>    
                <div style="display: flex"> 
                    <img src="./assets/images/steps.png" class="icon-theorem">
                    <p class="steps">{{ 'variations.max.steps.0' | translate }}:</p>
                </div>
                <ul>
                    <li *ngFor="let i of [1,2,3,4]"> 
                        {{ 'variations.max.steps.' + i | translate }}

                        <div *ngIf="i === 4">

                            <div class="formula-container">
                                <p class="formula">
                                    {{ 'variations.max.steps.formula' | translate }}
                                </p>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="metric-tsp" class="section-box" (mouseover)="getSection('metric-tsp')">
    <div class="title">
        <h2>{{ 'variations.metric.title' | translate }}</h2>
    </div>

    <div class="text-image-side">
        <div class="text-half-size" style="padding-top: 30px !important"> 
            <p>{{ 'variations.metric.header' | translate }}</p>
            
            <div class="formula-container">
                <p class="formula">{{ 'variations.metric.formula' | translate }}</p>
            </div>
            
            <p>{{ 'variations.metric.connectin-with-christofides.text' | translate }} 
                <a type="link" (click)="goToChristofides()">{{ 'variations.metric.connectin-with-christofides.linkText' | translate }}</a>.
            </p>
        </div>

        <div class="look-like-a-slider">
            <img class="metric-tsp-img" src="./assets/images/metric-not-respect.png"  alt="example for metric tsp">
            <p class="centered-text">{{ 'variations.metric.slider.1' | translate }}</p>
        </div>
    </div>

    <div style="margin-top:50px">
        <h4 style="margin-top:0px">{{ 'variations.metric.euclidian-tsp.title' | translate }}</h4>

        <p>{{ 'variations.metric.euclidian-tsp.text' | translate }}</p>

        <div class="formula-container">
            <p class="formula">{{ 'variations.metric.euclidian-tsp.formula' | translate }}</p>
        </div>
    </div>
</div>
