<div id="up" class="section-box">
    
    <p>{{'input-class.header' | translate}}</p>

    <app-code-section [currentSubsection]=inputClass></app-code-section>

    <div class="errors">
        <div class="title">
            <h3>{{'input-class.rules-title' | translate}}</h3>
        </div>
        
        <ul>
            <li>  
                <label class="steps">{{'input-class.rules.general.title' | translate}}</label>
                <ul>
                   
                    <li *ngFor="let i of [0, 1, 2]">
                        <strong>{{'input-class.rules.general.' + i + '.error'| translate}}</strong>:
                        {{'input-class.rules.general.' + i + '.explication'| translate}}
                    </li>
                </ul>
            </li>

            <li> 
                <label class="steps">{{'input-class.rules.oriented-graph.title' | translate}}</label>
                <ul>
                   
                    <li *ngFor="let i of [0, 1]">
                        <strong>{{'input-class.rules.oriented-graph.' + i + '.error'| translate}}</strong>:
                        {{'input-class.rules.oriented-graph.' + i + '.explication'| translate}}
                    </li>
                </ul>
            </li>

            <li>
                <label class="steps"> {{'input-class.rules.neoriented-graph.title' | translate}} </label>
                <ul>
                    
                    <li *ngFor="let i of [0, 1,2,3]">
                        <strong>{{'input-class.rules.neoriented-graph.' + i + '.error'| translate}}</strong>:
                        {{'input-class.rules.neoriented-graph.' + i + '.explication'| translate}}
                    </li>
                </ul>
            </li>

            <li>  
                <label class="steps">{{'input-class.rules.euclidean-distances.title' | translate}}</label>
                <ul>
                  
                    <li *ngFor="let i of [0, 1, 2]">
                        <strong>{{'input-class.rules.euclidean-distances.' + i + '.error'| translate}}</strong>:
                        {{'input-class.rules.euclidean-distances.' + i + '.explication'| translate}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>