#container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttons-code-center {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons-code-left {
    margin: 15px 0px;
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: space-around;
}

#input-output-boxes {
    margin-top: 10px;
    color: black;

    h3 {
        margin-left: 25px;
    }

    #input-box
    {
        display: grid;
        width: 100%;
        grid-template-rows: auto auto auto;
        grid-gap: 25px;
        
        form {
            color: black;

            textarea {
                resize: none;
                width: 100%;
                height: 100%;
                padding: 20px;
                border: 0px;
                border-radius: 5px;
            }

            button{
                width: 150px;
                display: block;
                margin: auto;
            } 
        }

        #output-box {
            color: black;
            padding: 25px;
            overflow: auto;
            background-color: rgb(255, 255, 255);
            border: 0px;
            border-radius: 5px;
        }
    }
}

.cont {
    width: 500px;
    height: 400px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.mat-table-box {
    // padding: 60px;
    margin: auto;
    width: 90%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.matTable {
    box-shadow: none;
    box-shadow: 0 0 5px #9b9b9b;
}
.mat-pagionator-styling {
    background-color: transparent;
    margin: auto;
    width: 90%;
    box-shadow: 0px 5px 5px -5px #9b9b9b, 5px 0 5px -5px #9b9b9b, -5px 0 5px  -5px #9b9b9b
}

.carousel-box {
    padding: 60px;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.carousel-text {
    text-align: center;
    margin-bottom: 20px;
}


::ng-deep .carousel-control-next, ::ng-deep .carousel-control-prev {
    width: 5%!important;
}


.mat-mdc-table {
    background: transparent;
    white-space: normal;   
}  


table {
    width: 100%;
}
  
mat-header-cell, mat-cell {
    justify-content: center;
}

.mat-cell{
    font-size:12px;
    font-family: Verdana,Sans-Serif;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 2px solid rgba(0, 0, 0, 0.12);
    border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.steps-approx-graphs {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.steps-christofides-graphs {
    display: grid;
    grid-template-areas:             
        "first first second second"            
        ". third third .";
    margin-top: 20px;
}

.step {
    width: 500px;
    margin: 10px;
}

.christofides-graph {
    width: 450px;
    height: 500px;
    margin: auto;
    padding: 0;
}

.approx-graph {
    width: 450px;
    height: 500px;
    margin: auto;
    padding: 0;
}

.approx-step {
    width: 500px;
    margin: 10px;
}

.input-output-area{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 33% 65%;
    grid-gap: 25px;
}

.input-type-selector{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}

.form-outline  {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 45px;

    .form-control {
        background-color: #f6f6f2;
        font-size: inherit;
        box-shadow: none !important;
        border: none !important;
    }  

    .form-label{
        width: 200px;
        padding-top: 10px;
        align-items: center;
        display: flex;
    }
}

.first-dropdown {
    width: 300px;
    height: 45px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f6f6f2;
    margin-bottom: 15px; 

    mat-select{
        font-weight:400;
    }
}

.form-input-type {
    padding: 5px;
    width: 280px;
    background-color: #f6f6f2;
}

.options-input {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 200px auto;
    margin-bottom: 30px;
}

.optional-greedy-selector{
    height: 45px;
    width: 300px;
    padding: 5px 10px;
    background-color: #f6f6f2;
    border-radius: 5px;

    mat-select{
        font-weight:400;
    }
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.input-type-algotihm {
    min-height: 45px;
    width: 188px;
    padding: 5px 10px;
    background-color: #f6f6f2;
    border-radius: 5px;

    mat-select{
        font-weight:400;
        font-size: inherit;
    }
}