img {
    width: 560px;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

.display-conatiner-horizonal {
    width: 650px;
    margin: auto;
    text-align: center;
}

.display-container-verticle {
    width: 350px;
    margin: auto;
    text-align: center;
}
